<h1>Teams</h1>
<div class="container">
  <% @teams.each do |team| %>
    <div class="team">
      <%= link_to team_path(team) do %>
      <h4><%= team.name %></h4>
      <% end %>
      <br>
    </div>
  <% end %>
</div>
<%= link_to "Home", root_path %>
