// Specific CSS for your home-page

//Page#home title centered
h1 {
  text-align: center;
}

.group-header {
  width: 100%;
}

// Next Match Font Size
.next_match {
  font-size: 14px;
  margin-left: 30px
}

// Group table on home page
// First th
.flag {

}

// First th after flag
#first_head {
  width: 45px;
}

// All except first th
.data_head {
  width:25px;
  text-align: center;
}

// Last th
#last_head {
  width:25px;
  text-align: right;
}

// First td
.flag_data img {
  height: 15px;
}

// First td after flag
#first_value {
  border-bottom: solid;
  border-width: 1px;
  border-color: rgb(225,225,225);
  width: 127px;
}

// middle td
.data_value {
  text-align: center;
  border-bottom: solid;
  border-width: 1px;
  border-color: rgb(225,225,225);
}

// Last td
#last_value {
  border-bottom: solid;
  border-width: 1px;
  border-color: rgb(225,225,225);
  text-align: right;
}

// Group match on home page
// First th
#match_first_head {
  margin-right: 2px;
  width: 45px;
}

// Middle th
.match_data_head {
  width:25px;
  text-align: center;
}

// Last th
#match_last_head {
  width:25px;
  text-align: right;
}
// First td
#match_first_value {
  width: 45%;
  border-bottom: solid;
  border-width: 1px;
  border-color: rgb(225,225,225);
}
//Middle td
.match_data_value {
  text-align: center;
  border-bottom: solid;
  border-width: 1px;
  border-color: rgb(225,225,225);
}
//Last td
#match_last_value {
  width: 45%;
  border-bottom: solid;
  border-width: 1px;
  border-color: rgb(225,225,225);
  text-align: right;
}

// Home Table
.home_groups {
  width: 100%;
  border-bottom: solid;
  border-width: 2px;
  border-color: rgb(225,225,225);
}

// Matches Table
.home_matches {
  width: 100%;
  border-bottom: solid;
  border-width: 2px;
  border-color: rgb(225,225,225);
  margin-bottom: 15px;
}

//Row border-bottom to separate home page
.row {
  border-bottom: solid;
  border-width: 2px;
  border-color: rgb(225,225,225);
  margin-bottom: 5px;
  padding-bottom: 8px;
}

.row-matches {
  height: 100%;
  width: 100%;
}

.home_groups_row {
  font-size: 14px;
}

.home_match_row {
  font-size: 14px;
}



