// Specific CSS for your home-page

//Page#home title centered
h1 {
  text-align: center;
}

.group-header {
  width: 100%;
}

// Next Match Font Size
.next_match {
  font-size: 13px;
}

// Group table CSS home page
.data_head {
  width:25px;
  text-align: center;
}

#first_head {
  margin-right: 2px;
  width: 45px;
}

#first_value {
  border-bottom: solid;
  border-width: 1px;
  border-color: rgb(225,225,225);
  width: 127px;
}

#last_head {
  width:25px;
  text-align: right;
}

#last_value {
  border-bottom: solid;
  border-width: 1px;
  border-color: rgb(225,225,225);
  text-align: right;
}

#match_last_value {
  border-bottom: solid;
  border-width: 1px;
  border-color: rgb(225,225,225);
  text-align: right;
}

#match_first_value {
  border-bottom: solid;
  border-width: 1px;
  border-color: rgb(225,225,225);
}

.data_value {
  text-align: center;
  border-bottom: solid;
  border-width: 1px;
  border-color: rgb(225,225,225);
}

.match_data_value {
  text-align: center;
  border-bottom: solid;
  border-width: 1px;
  border-color: rgb(225,225,225);
}

.home_groups {
  width: 100%;
  border-bottom: solid;
  border-width: 2px;
  border-color: rgb(225,225,225);
}

.home_matches {
  width: 100%;
  border-bottom: solid;
  border-width: 2px;
  border-color: rgb(225,225,225);
  margin-bottom: 15px;
}

.flag_data img {
  height: 15px;
}

//Row border-bottom to separate home page
.row {
  border-bottom: solid;
  border-width: 2px;
  border-color: rgb(225,225,225);
  margin-bottom: 5px;
  padding-bottom: 8px;
}

.row-matches {
  height: 100%;
  width: 100%;
}

//match show page

.goals {
  width: 100%;
}

.home_team_name {
  text-align: left;
  font-size: 25px;
}

.away_team_name {
  text-align: right;
  font-size: 25px;
}

.show_match {
  width: 100%;
}

.show_team_value {
  width: 40%;
}

.show_location {
  width: 100%;
  text-align: center;
}

.show_data_value {
  text-align: center;
  font-size: 25px;
}

.show_next_match {
  font-size: 25px;
  text-align: center;
}

// match show page

.match {
  border-bottom: solid;
  border-width: 2px;
  border-color: rgb(225,225,225);
}


// teams index page
.team_header {
  width: 11%;
  text-align: center;
  border-bottom: solid;
  border-width: 1px;
  border-color: rgb(225,225,225);
}

.first_team_data {
  width: 11%;
  text-align: left;
  border-bottom: solid;
  border-width: 1px;
  border-color: rgb(225,225,225);
}

.team_data {
  width: 11%;
  border-bottom: solid;
  border-width: 1px;
  border-color: rgb(225,225,225);
}

.team_flag img {
  height: 40px;
  margin-right: 5px;

}

.team_flag {
  border-bottom: solid;
  border-width: 1px;
  border-color: rgb(225,225,225);
}

.first_team_header {
  width: 11%;
  text-align: left;
  border-bottom: solid;
  border-width: 1px;
  border-color: rgb(225,225,225);
}




