// .hype_content {
//   display: flex;
//   // justify-content: space-between;
//   // align-items: center;
// }

.hype_match {
  text-align: center;
  padding-bottom: 7px;
  border-bottom: solid;
  border-width: 2px;
  border-color: rgb(225,225,225);
}
