// .hype_content {
//   display: flex;
//   // justify-content: space-between;
//   // align-items: center;
// }

.hype_match {
  text-align: center;
  padding-bottom: 7px;
  border-bottom: solid;
  border-width: 2px;
  border-color: rgb(225,225,225);
}

.product-arrow {
  transition: all 0.15s ease;
  width: 0;
  height: 0;
  border-left: 6px solid transparent;
  border-right: 6px solid transparent;
  border-top: 6px solid transparent;
  border-bottom: 9px solid black;
  border-radius: 2px;
  margin: auto;
}

.product-count {
  font-size: 36;
  text-align: center;
}

