// Import page-specific CSS files here.
@import "home";
//TEAM
@import "team_show";
@import "team_index";
//MATCH
@import "match_index";
@import "match_show";
// GROUP
@import "group_index";
@import "group_show";
//HPYE
@import "hype_matches";
@import "hype_teams";
//Ro16
@import "ro16"
