.goals {
  width: 100%;
}

.home_team_name {
  text-align: left;
  font-size: 25px;
}

.away_team_name {
  text-align: right;
  font-size: 25px;
}

.show_match {
  width: 100%;
}

.show_team_value {
  width: 40%;
}

.show_location {
  width: 100%;
  text-align: center;
}

.show_data_value {
  text-align: center;
  font-size: 25px;
}

.show_next_match {
  font-size: 25px;
  text-align: center;
}
