.team_first_head {

}

.team_data_head {
  width: 11%;
  text-align: center;
}

.team_first_value {

}

.team_data_value {
  width: 11%;
  text-align: center;
}

.team-title {
  width:100vw;
  display: flex;
  justify-content: space-around;
  align-items: center;
}

.team-title img {
  height: 70px
}

.team-title-name {
  font-size: 36px;
}
