<div class="footer">
  <div class="footer-links">
    <%= link_to "Home", root_path %>
    <%= link_to "Matches", matches_path(@matches) %>
    <%= link_to "Groups", groups_path(@groups) %>
    <%= link_to "Teams", teams_path(@teams) %>
    <a href="#"><i class="fab fa-github"></i></a>
    <a href="#"><i class="fab fa-facebook"></i></a>
    <a href="#"><i class="fab fa-twitter"></i></a>
  </div>
</div>
