<div class="footer">
  <div class="footer-links">
    <%= link_to "Matches", matches_path(@matches), class: "hidden-xs hidden-sm" %>
    <%= link_to "Groups", groups_path(@groups), class: "hidden-xs hidden-sm" %>
    <%= link_to "Teams", teams_path(@teams), class: "hidden-xs hidden-sm" %>
    <a href="https://github.com/Haumer"><i class="fab fa-github"></i></a>
    <a href="#"><i class="fab fa-facebook"></i></a>
    <a href="#"><i class="fab fa-twitter"></i></a>
  </div>
</div>
