.navbar {
  height: 35px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: rgba(220, 220, 220,0.9);
  transition: 0.5s background-color ease;
}

.navbar-white {
  background-color: white;
}

.navbar_logo {
  height: 45px;
}

.navbar-fixed-top {

}
