.navbar {
  height: 35px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: rgba(220, 220, 220,0.9);
  transition: 0.5s background-color ease;
  flex-wrap: nowrap;
  width: 100vw;
}

.home_button {
  padding-left: 40px;
}

.navbar-white {
  background-color: white;
}

.navbar_logo {
  height: 45px;
  opacity: 0.7;
}

.navbar_logo:hover{
  opacity: 1;
}

.navbar-links {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.navbar-links a {
  color: black;
  opacity: 0.55;
  text-decoration: none;
  font-size: 24px;
  padding: 0px 10px;
}
.navbar-links a:hover {
  opacity: 1;
}

.navbar_match {
  font-size: 12px;
}

.login_and_register {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.spacing_login_and_register {
  width: 50%;
  text-align: center;
}

.navbar-dropdown-menu {
  margin-top: 15px;
  box-shadow: 1px 1px 4px #E6E6E6;
  border-color: #E6E6E6;
}
.navbar-dropdown-menu li > a {
  transition: color 0.3s ease;
  font-weight: lighter !important;
  color: #999999 !important;
  font-size: 15px !important;
  line-height: 22px !important;
  padding: 10px 20px;
}
.navbar-dropdown-menu li > a:hover {
  background: transparent !important;
  color: black !important;
}
.navbar-dropdown-menu:before {
  content: ' ';
  height: 10px;
  width: 10px;
  position: absolute;
  right: 10px;
  top: -6px;
  background-color: white;
  transform: rotate(45deg);
  border-left: 1px solid #E6E6E6;
  border-top: 1px solid #E6E6E6;
}

.navbar-bars {

}
