.navbar {
  height: 35px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: rgba(220, 220, 220,0.9);
  transition: 0.5s background-color ease;
}

.navbar-white {
  background-color: white;
}

.navbar_logo {
  height: 45px;
  opacity: 0.7;
}

.navbar_logo:hover{
  opacity: 1;
}

.spacing {
  width: 33%;
  text-align: center;
}

.navbar-links {

  display: flex;
  justify-content: space-between;
  align-items: center;
}
.navbar-links a {
  color: black;
  opacity: 0.55;
  text-decoration: none;
  font-size: 24px;
  padding: 0px 10px;
}
.navbar-links a:hover {
  opacity: 1;
}
